/* 
# pseudo-class 
ciri : 
1. diawali titik dua ":"
2. diikuti dengan pseudo-classnya
contoh :

# pseudo-code yang berhubungan dengan LINK
- :link : style default pada sebuah link (a yang memiliki href)
- :hover : style ketika kursor mouse berada di atas sebuah link / element
- :active : style ketika sebuah link diklik (keadaan aktif)
- :visited : style ketika sebuah link sudah pernah dikunjungi (menggunakan browser yang sama)

*/
.test:link {
  color: green;
}
.test:hover {
  color: lightblue;
  font-size: 20px;
}
.test:active {
  color: salmon;
  font-style: italic;
}
/* .test:visited {
  color: orange;
} */

/* 
pseudo-class yang berhubungan dengan posisi element (child dari suatu parent)
contoh :
<ul>
  <li></li>
</ul>
Ket :
<li> adalah child dari <ul> dan <ul> adalah parent dari <li>

- :first-child : memilih element pertama dari sebuah parent (element pembungkusnya)
- :last-child : memilih element terakhir dari sebuah parent (element pembungkusnya)
- :nth-child : memilih element ke-n dari sebuah parent (element pembungkusnya)
               n nsia berarti urutan (1), (2), ... atau pola (2n), (3n+2), (4n-1), ...
               atau ganjil (even) dan genap (odd)
*/
/* element pertama */
/* li:first-child a {
  color: chartreuse;
} */

/* element terakhir */
/* li:last-child a {
  color: chartreuse;
} */

/* kelipatan 2 */
/* li:nth-child(2n) a {
  color: chartreuse;
} */

/* kelipatan 3 */
/* li:nth-child(3n) a {
  color: chartreuse;
} */

/* kelipatan 3 dimulai dari 1 */
/* li:nth-child(3n-2) a {
  color: chartreuse;
} */

/* kelipatan 3 dimulai dari 1 */
/* li:nth-child(3n + 1) a {
  color: chartreuse;
} */

/* genap */
/* li:nth-child(even) a {
  color: chartreuse;
} */

/* ganjil */
li:nth-child(odd) a {
  color: chartreuse;
}

/* hover tapi hanya yang ganjil saja */
li:nth-child(odd) a:hover {
  color: salmon;
}

/* 
pseudo-class yang berhubungan dengan posisi element (bukan child dari suatu parent)
contoh :
<p></p>
Ket : 
<p></p> adalah bukan child dari parent manapun

- :first-of-type : memilih element pertama dari sebuah jenis / tipe tag
- :last-of-type : memilih elemnent terakhir dari sebuah jenis / tipe tag
*/
p:first-of-type {
  color: blueviolet;
}

p:last-of-type {
  color: lightskyblue;
}
